@model IEnumerable<MyShop.Core.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="col-md-4" style="height:450px;padding:10px;margin:10px;border:solid thick whitesmoke">
        <div class="col-md-12">
            <img class="img" style="height:250px" src="~/Content/ProductImages/@item.Image" />
        </div>
    </div>
}